# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# PostgreSQL specific
*.sql.in
regression.diffs
regression.out
tmp_check/
log/

# Editor and IDE files
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-*
.DS_Store

# Build artifacts
*.bc
results/
